version: '3'

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: boare-web
    restart: always
    ports:
      - "3005:3000"
    env_file:
      - ./web/.env.local
